<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

        <div class="row g-3">
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                 <label for="Name" class="form-label">Name</label>
                 <input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                  <label for="Designation" class="form-label">Designation</label>
                  <input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                  <label for="Company name" class="form-label">Company name</label>
                  <input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                 <label for="Salary" class="form-label">Salary</label>
                 <input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                  <label for="Experience" class="form-label">Experience</label>
                  <input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                  <label for="Employee code" class="form-label">Employee Code</label>
                  <input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                 
                 <label for="Phone" class="form-label">Phone</label>
                 <input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                 <button class="btn btn-secondary">Register</button>

            </div>
        </div>


        </div>
    </div>
</div>   